.footer-navigation {
	float: right;
}

.footer-navigation-menu {
	position: relative;
	display: block;
	margin: 0;
	padding: 2.25em 3em;
	list-style-position: outside;
	list-style-type: none;
}

.footer-navigation-menu li {
	position: relative;
	float: left;
}

.footer-navigation-menu a {
	display: block;
	margin: 0;
	padding: 0.75em 1em;
	text-decoration: none;
}

.footer-navigation-menu a:link,
.footer-navigation-menu a:visited {
	color: #fff;
	text-decoration: none;
}

.footer-navigation-menu a:hover,
.footer-navigation-menu a:active {
	color: rgba(255,255,255,0.5);
}

@media only screen and (max-width: 60em) {
	.footer-navigation {
		float: none;
		text-align: center;
	}

	.footer-navigation-menu {
		padding-bottom: 0;
	}

	.footer-navigation-menu li {
		display: inline-block;
		float: none;
	}
}

@media only screen and (max-width: 40em) {
	.footer-navigation {
		padding-bottom: 2em;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.footer-navigation-menu li,
	.footer-navigation-menu a {
		display: block;
	}

	.footer-navigation-menu a {
		padding: 0.4em 0;
	}
}
