.header-bar-wrap {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	background: #fff;
}

.header-bar {
	position: relative;
	margin: 0 auto;
	max-width: 1300px;
}

.top-navigation-toggle {
	display: none;
}

.top-navigation-menu {
	display: inline;
	float: left;
	margin: 0;
	padding: 0 0.5em;
	list-style-position: outside;
	list-style-type: none;
}

.top-navigation-menu li {
	float: left;
}

.top-navigation-menu a {
	display: block;
	margin: 0;
	padding: 0.75em 1em;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: 'Gudea', Tahoma, Arial;
}

.top-navigation-menu > .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.6em 0 0 0.4em;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 12px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.top-navigation-menu a:link,
.top-navigation-menu a:visited {
	color: #303030;
}

.top-navigation-menu a:hover,
.top-navigation-menu a:active {
	color: rgba(0,0,0,0.5);
}

.top-navigation-menu ul {
	position: absolute;
	z-index: 9999;
	display: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(0,0,0,0.15);
	background: #fff;
	list-style-position: outside;
	list-style-type: none;
}

.top-navigation-menu ul li{
	position: relative;
	float: none;
}

.top-navigation-menu ul a {
	box-sizing: border-box;
	padding: 1em;
	min-width: 250px;
	min-width: 16rem;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-size: 13px;
	font-size: 0.8125rem;
}

.top-navigation-menu ul .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.3em 0 0 0.3em;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 14px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.top-navigation-menu li ul ul {
	top: 0;
	left: 100%;
	margin: -1px 0 0;
}

.top-navigation-menu li.menu-item-has-children:hover > ul,
.top-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
	display: block;
}

.top-navigation-menu li.current-menu-item > a {
	background: rgba(0,0,0,0.05);
}

.top-navigation-menu li.current-menu-item > a:after {
	text-decoration: none;
}

.header-bar .social-icons-navigation {
	float: right;
	margin: 0 0.8em;
}

.header-bar .social-icons-menu li a {
	padding: 0.8em;
	color: #303030;
}

.header-bar .social-icons-menu li a:before {
	font-size: 22px;
}

.header-bar .social-icons-menu li a:hover,
.header-bar .social-icons-menu li a:active {
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}
