
/* Magazine Posts Boxed Widget Horizontal Style */
.widget-magazine-posts .magazine-horizontal-box .large-post .wp-post-image {
	float: left;
	box-sizing: border-box;
	margin: 0;
	padding-right: 1em;
	width: 50%;
}

.widget-magazine-posts .magazine-horizontal-box .large-post .post-content {
	float: right;
	box-sizing: border-box;
	padding-left: 1em;
	width: 50%;
}

.widget-magazine-posts .magazine-horizontal-box .medium-posts {
	margin-right: -2em;
}

/* Magazine Posts Boxed Widget Vertical Style */
.widget-magazine-posts .magazine-vertical-box .large-post {
	float: left;
	box-sizing: border-box;
	margin-bottom: 1em;
	padding-right: 1em;
	width: 50%;
}

.widget-magazine-posts .magazine-vertical-box .small-posts {
	box-sizing: border-box;
	margin-left: 50%;
	padding-left: 1em;
	width: 50%;
}

/* Magazine Posts List */
.widget-magazine-posts-list .type-post .wp-post-image {
	float: left;
	margin: 0 2em 1em 0;
	padding: 0;
	max-width: 45%;
}

.widget-magazine-posts-list .type-post .entry-title {
	font-size: 28px;
	font-size: 1.75rem;
}

.widget-magazine-posts-list .type-post .entry-content {
	font-size: 17px;
	font-size: 1.0625rem;
}

/* Magazine Posts Sidebar */
.widget-magazine-posts-sidebar .type-post .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
}

.widget-magazine-posts-sidebar .type-post .entry-content {
	font-size: 16px;
	font-size: 1rem;
}
